{% extends "base.html" %}
{% block content %}

{% include "partials/content_header.html" %}
<div class="flex flex-wrap justify-center content-center">
  <div class="ampstart-card pt2">
  {#% include "partials/form_wrap_open.html" %#}
  <form method="POST" action="/" target="_top" class="p0 m0 px3 mb4">
    <fieldset class="border-none p0 m0">
      <legend class="h2 block mb4">New Post:</legend>

  <!-- start inputs -->
  <div class="ampstart-input inline-block relative m0 p0 mb3 ">
    <input type="text" value="{{subject}}" name="subject" id="subjectid" class="block border-none p0 m0" placeholder="Post Title">
    <label for="subjectid" class="absolute top-0 right-0 bottom-0 left-0">Post Subject/Title</label>
  </div>
  <div class="ampstart-input inline-block relative m0 p0 mb3 ">
    <textarea value="{{content}}" name="content" id="contentid" rows="10" class="block border-none p0 m0" placeholder="Post content"></textarea>
    <label for="contentid" class="absolute top-0 right-0 bottom-0 left-0">Post Content</label>
  </div>

  <!-- end inputs -->
  <!-- start submit -->
  <input type="submit" name="submit" value="Publish Changes" id="submit" class="ampstart-btn ampstart-btn-secondary">
  <a class="ampstart-btn ampstart-btn-secondary" href="{{params.page.permalink}}">Cancel Changes</a>
  <!-- end submit -->

    </fieldset>
  </form>
  </div>
</div>

{% endblock %}